{% extends 'base.html' %}

{% block content %}

<!-- Mensaje de suscripción y botones de inicio de sesión y registro -->
<div class="row">
    <div class="col-md-12 text-center">
        {% if 'username' not in session %}
            <p>Inicia sesión y suscríbete para aprovechar nuestras ofertas</p>
            <a href="/login" class="btn btn-primary">Iniciar sesión</a>
            <a href="/register" class="btn btn-secondary">Registrarse</a>
        {% elif 'username' in session and not subscribed %}
            <p>Suscríbete para recibir nuestras ofertas</p>
            <a href="/suscripcion_exitosa" class="btn btn-secondary">Suscribirse</a>
        {% else %}
            <p>Gracias por ser un suscriptor. ¡Disfruta de nuestras ofertas!</p>
        {% endif %}
    </div>
</div>

<h1>Carrito de Compras</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <h3>Productos en el carrito:</h3>
        <ul class="list-group">
            {% for product in products %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>{{ product['name'] }}</h5>
                        <p>{{ product['description'] }}</p>
                        <!-- Mostrar el precio total del producto por las unidades en CLP -->
                        <p>Total (CLP): ${{ product['price'] | float * product['quantity'] }}</p>
                        <!-- Mostrar el precio total del producto por las unidades en USD -->
                        <p>Total (USD): ${{ product['price_usd'] | float * product['quantity'] }}</p>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Unidades:</span>
                            <input type="number" class="form-control" value="{{ product['quantity'] }}" id="quantity_{{ product['id'] }}" min="1" onchange="updateQuantity('{{ product['id'] }}', this.value)">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-danger" onclick="removeFromCart('{{ product['id'] }}')">Eliminar</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Resumen del Pedido:</h3>
        <div class="card">
            <div class="card-body">
                {% if subscribed %}
                    <h5 class="card-title">Total a Pagar (CLP): <s>${{ "{:.2f}".format(total_clp) }}</s> ${{ "{:.2f}".format(total_clp_con_descuento) }}</h5>
                    <h5 class="card-title">Total a Pagar (USD): <s>${{ "{:.2f}".format(total_usd) }}</s> ${{ "{:.2f}".format(total_usd_con_descuento) }}</h5>
                {% else %}
                    <h5 class="card-title">Total a Pagar (CLP): ${{ "{:.2f}".format(total_clp) }}</h5>
                    <h5 class="card-title">Total a Pagar (USD): ${{ "{:.2f}".format(total_usd) }}</h5>
                {% endif %}
                {% if 'username' in session %}
                    {% if total_clp > 0 %}
                        <!-- Selección de método de envío -->
                        <h5 class="card-title">Seleccione método de envío:</h5>
                        <select class="form-select mb-3" id="shipping-method" onchange="showHideShippingForm()">
                            <option value="" selected>Seleccione método de envío</option>
                            <option value="tienda">Retiro en Tienda</option>
                            <option value="despacho">Despacho a Domicilio</option>
                        </select>
        
                        <!-- Formulario para datos de envío -->
                        <div id="shipping-form" style="display: none;">
                            <h5>Ingrese los datos de envío:</h5>
                            <div class="mb-3">
                                <label for="address" class="form-label">Dirección de Envío:</label>
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">Ciudad:</label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="mb-3">
                                <label for="region" class="form-label">Región:</label>
                                <input type="text" class="form-control" id="region" name="region">
                            </div>
                            <div class="mb-3">
                                <label for="postal-code" class="form-label">Código Postal:</label>
                                <input type="text" class="form-control" id="postal-code" name="postal-code">
                            </div>       
                        </div>        
                                    
                        <!-- Selección del método de pago -->
                        <h5 class="card-title">Seleccione un método de pago:</h5>
                        <select class="form-select mb-3" id="payment-method" onchange="showHidePaymentButton(); showHideBankDetails()">
                            <option value="" selected>Seleccione tipo de pago</option>
                            <option value="tarjeta">Tarjeta de Crédito/Débito</option>
                            <option value="transferencia">Transferencia Bancaria</option>
                        </select>

                        <!-- Botón para proceder al pago -->
                        <a id="checkout-button" class="btn btn-primary" style="display: none;">Proceder al Pago</a>

                        <!-- Datos bancarios para transferencia -->
                        <div id="bank-details" style="display: none;">
                            <h5>Datos Bancarios para Transferencia:</h5>
                            <p>Nombre del Banco: Banco Ejemplo</p>
                            <p>Número de Cuenta: 1234567890</p>
                            <p>RUT: 12345678-9</p>
                            <!-- Botón para proceder al pago -->
                            <button id="proceed-payment-button" class="btn btn-primary">Proceder al Pago</button>
                        </div>
                    {% else %}
                        <!-- Mensaje indicando que el total debe ser mayor que 0 -->
                        <p class="mt-3 text-danger">El total a pagar debe ser mayor que $0 para proceder con la compra.</p>
                    {% endif %}
                {% else %}
                    <!-- Mensaje usuario invitado -->
                    <p class="mt-3">Debes estar registrado para proceder con la compra.</p>
                    <!-- Enlace para iniciar sesión -->
                    <p class="mt-3">¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
                    <!-- Enlace para registrarse -->
                    <p>¿Nuevo por aquí? <a href="/register">Registrarse</a></p>
                {% endif %}  
            </div>
        </div>
    </div>
</div>
{% endblock %}
