{% extends 'base.html' %}

{% block content %}

<!-- Sección de Suscripción con imagen extendida -->
<div class="row mb-5 position-relative">
    <div class="col-8 p-0">
        <img src="/static/Imagenes web/banner10.png" class="img-fluid mt-5" alt="Banner de suscripción">
        <div class="position-absolute bottom-0 start-50 translate-middle-x" style="margin-bottom: 10px;">
            <a href="/login" class="btn btn-primary btn-sm me-3">Iniciar sesión</a>
            <a href="/register" class="btn btn-secondary btn-sm">Registrarse</a>
        </div>
    </div>
    
</div>
<!-- Sección de Carrito de Compras -->
<div class="row justify-content-center">
    <!-- Columna para Lista de Productos en el Carrito -->
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title mb-4">Productos en el Carrito:</h3>
                <ul class="list-group">
                    {% for product in products %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>{{ product['name'] }}</h5>
                                <p>{{ product['description'] }}</p>
                                <p>Total (CLP): ${{ product['price'] | float * product['quantity'] }}</p>
                                <p>Total (USD): ${{ product['price_usd'] | float * product['quantity'] }}</p>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Unidades:</span>
                                    <input type="number" class="form-control" value="{{ product['quantity'] }}" id="quantity_{{ product['id'] }}" min="1" onchange="updateQuantity('{{ product['id'] }}', this.value)">
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-danger" onclick="removeFromCart('{{ product['id'] }}')">Eliminar</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Columna para Resumen del Pedido -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title mb-4">Resumen del Pedido:</h3>
                <h5 class="card-title">Total a Pagar (CLP): ${{ "{:.2f}".format(total_clp) }}</h5>
                <h5 class="card-title">Total a Pagar (USD): ${{ "{:.2f}".format(total_usd) }}</h5>
                {% if 'username' in session %}
                    {% if total_clp > 0 %}
                        <!-- Selección de Método de Envío -->
                        <h5 class="card-title mt-4">Seleccione método de envío:</h5>
                        <select class="form-select mb-3" id="shipping-method" onchange="showHideShippingForm()">
                            <option value="" selected>Seleccione método de envío</option>
                            <option value="tienda">Retiro en Tienda</option>
                            <option value="despacho">Despacho a Domicilio</option>
                        </select>
                        <!-- Formulario para Datos de Envío -->
                        <div id="shipping-form" style="display: none;">
                            <h5>Ingrese los datos de envío:</h5>
                            <div class="mb-3">
                                <label for="address" class="form-label">Dirección de Envío:</label>
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">Ciudad:</label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="mb-3">
                                <label for="region" class="form-label">Región:</label>
                                <input type="text" class="form-control" id="region" name="region">
                            </div>
                            <div class="mb-3">
                                <label for="postal-code" class="form-label">Código Postal:</label>
                                <input type="text" class="form-control" id="postal-code" name="postal -postal-code">
                            </div>       
                        </div>        
                                    
                        <!-- Selección del Método de Pago -->
                        <h5 class="card-title mt-4">Seleccione un método de pago:</h5>
                        <select class="form-select mb-3" id="payment-method" onchange="showHidePaymentButton(); showHideBankDetails()">
                            <option value="" selected>Seleccione tipo de pago</option>
                            <option value="tarjeta">Tarjeta de Crédito/Débito</option>
                            <option value="transferencia">Transferencia Bancaria</option>
                        </select>

                        <!-- Botón para Proceder al Pago -->
                        <a id="checkout-button" class="btn btn-primary mb-3" style="display: none;">Proceder al Pago
                        </a>

                        <!-- Datos Bancarios para Transferencia -->
                        <div id="bank-details" style="display: none;">
                            <h5>Datos Bancarios para Transferencia:</h5>
                            <p>Nombre del Banco: Banco Ejemplo</p>
                            <p>Número de Cuenta: 1234567890</p>
                            <p>RUT: 12345678-9</p>
                            <!-- Botón para Proceder al Pago -->
                            <button id="proceed-payment-button" class="btn btn-primary">Proceder al Pago</button>
                        </div>
                    {% else %}
                        <!-- Mensaje indicando que el total debe ser mayor que 0 -->
                        <p class="mt-3 text-danger">El total a pagar debe ser mayor que $0 para proceder con la compra.</p>
                    {% endif %}
                {% else %}
                    <!-- Mensaje usuario invitado -->
                    <p class="mt-3">Debes estar registrado para proceder con la compra.</p>
                    <!-- Enlace para Iniciar Sesión -->
                    <p class="mt-3">¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
                    <!-- Enlace para Registrarse -->
                    <p>¿Nuevo por aquí? <a href="/register">Registrarse</a></p>
                {% endif %}  
            </div>
        </div>
    </div>
</div>
{% endblock %}

