{% extends 'base.html' %}

{% block content %}
<h1>Carrito de Compras</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <h3>Productos en el carrito:</h3>
        <ul class="list-group">
            {% for product in products %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>{{ product['name'] }}</h5>
                        <p>{{ product['description'] }}</p>
                        <!-- Mostrar el precio total del producto por las unidades en CLP -->
                        <p>Total (CLP): ${{ product['price'] | float * product['quantity'] }}</p>
                        <!-- Mostrar el precio total del producto por las unidades en USD -->
                        <p>Total (USD): ${{ product['price_usd'] | float * product['quantity'] }}</p>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Unidades:</span>
                            <input type="number" class="form-control" value="{{ product['quantity'] }}" id="quantity_{{ product['id'] }}" min="1" onchange="updateQuantity('{{ product['id'] }}', this.value)">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-danger" onclick="removeFromCart('{{ product['id'] }}')">Eliminar</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Resumen del Pedido:</h3>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total a Pagar (CLP): ${{ "{:.2f}".format(total_clp) }}</h5>
                <h5 class="card-title">Total a Pagar (USD): ${{ "{:.2f}".format(total_usd) }}</h5>
                             
                <a id="checkout-button" class="btn btn-primary">Proceder al Pago</a>
            </div>
        </div>
    </div>
</div>

<script>
    console.log("Productos:", {{ products|tojson }});
    console.log("Total CLP:", {{ total_clp }});
</script>
{% endblock %}
