{% extends 'base.html' %}

{% block content %}

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=product['photo']) }}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ product['name'] }}</h5>
                    <p class="card-text">{{ product['description'] }}</p>
                    <p class="card-text">Precio: ${{ product['price'] }}</p>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" onclick="decrementQuantity('{{ product['id'] }}')">-</button>
                        <input type="text" class="form-control" id="quantity_{{ product['id'] }}" value="1">
                        <button class="btn btn-outline-secondary" type="button" onclick="incrementQuantity('{{ product['id'] }}')">+</button>
                    </div>
                    <button class="btn btn-primary mt-2" onclick="addToCart('{{ product['id'] }}')">Agregar al carrito</button>
                </div>

        </div>
        {% endfor %}
    </div>
    
    <div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addToCartModalLabel">Producto agregado al carrito</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title">Producto agregado al carrito</h5>
                <p>Nombre: <span id="productName"></span></p>
                <p>Precio: <span id="productPrice"></span></p>
            </div>            
            <div class="modal-footer">
              <a href="/carrito" class="btn btn-primary">Ir al carrito</a>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar comprando</button>
            </div>
          </div>
        </div>
      </div>
      
    
{% endblock %}
