{% extends 'base.html' %}

{% block content %}
    <h1>Perfil de Usuario</h1>

    <div>
        <h2>Información del Usuario</h2>
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
        <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>
    </div>

    <a href="{{ url_for('edit_user_profile') }}">Editar Perfil</a>

    <!-- Modal de Mensaje -->
    <div id="message-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <p id="message-text">xxx</p>
        </div>
    </div>
    
    {% if message %}
        <script>showModal("{{ message }}");</script>
    {% endif %}
    
{% endblock %}