/* Estilos para el navbar */
.navbar {
    background-color: #f8f9fa; /* Color de fondo del navbar */
    border-bottom: 1px solid #e9ecef; /* Borde inferior */
}

.navbar-brand {
    font-weight: bold; /* Texto en negrita */
    color: #212529; /* Color del texto */
}

.navbar-nav .nav-link {
    color: #212529; /* Color del texto de los enlaces */
}

/* Estilos para el contenido principal */
.container {
    padding-top: 20px; /* Espacio superior */
    padding-bottom: 20px; /* Espacio inferior */
}

.card {
    transition: transform 0.5s; /* Transición al pasar el cursor */
}

.card:hover {
    transform: translateY(-5px); /* Efecto de levantar al pasar el cursor */
}

/* Estilos para el footer */
.footer {
    background-color: #f8f9fa; /* Color de fondo */
    border-top: 1px solid #e9ecef; /* Borde superior */
    color: #6c757d; /* Color del texto */
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px; /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the margin as needed */
}
.img-fluid {
    max-width: 150%;
    height: auto;
}

.me-3 {
    margin-right: 2%; /* Espaciado entre la imagen y la tarjeta */
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

/* Añadir estilos para la imagen */
.image-container {
    margin-right: 20px; /* Ajustar el margen derecho para separar la imagen del contenido */
}


.login-card {
    margin-top: 10%;
}

.img-fluid-1 {
    max-width: 50%;
    height: auto;
}